  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 30px 30px;
    text-decoration: none;
  }

a:hover
 {
	color: white;
	background-color: transparent;
	text-decoration: underline;
  }

 .navbar
{
	color: black;
    display: flex;
    padding: 20px 20px 20px 20px;
	position: sticky;
	width: 100%;
	height: 35px;
	top: 0;
	border: 600px;
	text-align: justify;
    text-size-adjust: 1000px;
	border-radius: 1000Px;
	list-style-type: none;
    margin:  50 50;
}



.about
{
	text-align: center;
}

body
{
	text-align:center;
}

h1
{
	font-size: 100%;	
}

.ans
{
	text-align: center;
	font-size: 50%;
}

#like iframe
{
	width: 100%;
	height: 1000px;
}